<div class="headingWrap">
  <h1>Find You School Supplies!</h1>
  <button mat-raised-button routerLink="/create">Add</button> 
</div>

<form (ngSubmit)="onSubmit()" class="searchWrap">
  <mat-form-field>
    <mat-label for="search">Search Products</mat-label>
    <input matInput type="text" id="search" name="search" [(ngModel)]="searchedProduct">
  </mat-form-field>

  <button mat-raised-button type="submit">Search</button>

</form>

<div class="productsWrapper">
    <mat-card *ngFor="let p of productList" class="example-card">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{p.itemName}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image [src]="p.imageURL" alt="Photo of a Product" height="250">
        <mat-card-content class="cardConent">
            <h2>{{p.itemName}}</h2>
            <h2>{{p.price}}$ for {{p.quantity}}</h2>
        </mat-card-content>
        <mat-card-actions class="cardActions">
            <button mat-stroked-button [routerLink]="['/details', p.id]">View</button>
            <button mat-stroked-button [routerLink]="['/edit', p.id]">Edit</button>
            <button  mat-stroked-button (click)="onDelete(p.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
</div>

