<div class="everythingWrapper">
    <div>
        <img src="https://images.unsplash.com/photo-1661732017114-6d554292c1b2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHNjaG9vbCUyMHN1cHBsaWVzfGVufDB8MXwwfHx8Mg%3D%3D" alt="womens shadow">
    </div>

    <div class="informationWrapper">
        <h1>About School Supplies</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Convallis a cras semper auctor neque vitae. Turpis egestas integer eget aliquet nibh praesent tristique magna. Congue mauris 
            rhoncus aenean vel. Sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis. Vestibulum lectus mauris ultrices 
            eros in cursus. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Felis eget nunc lobortis mattis. Quam quisque 
            id diam vel quam elementum pulvinar etiam. Sagittis vitae et leo duis. Eget magna fermentum iaculis eu. Scelerisque fermentum 
            dui faucibus in. Sed augue lacus viverra vitae congue eu consequat ac. Sed odio morbi quis commodo odio. Et magnis dis 
            parturient montes. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Sit amet consectetur adipiscing elit 
            pellentesque habitant morbi tristique senectus. In ante metus dictum at tempor commodo ullamcorper a lacus. Est sit amet facilisis 
            magna etiam tempor.
        </p>
        
        <p>
            Posuere morbi leo urna molestie at elementum. Ut placerat orci nulla pellentesque dignissim enim. 
            Laoreet id donec ultrices tincidunt arcu. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. 
            A arcu cursus vitae congue mauris rhoncus aenean vel. Donec massa sapien faucibus et molestie ac feugiat 
            sed lectus. Accumsan tortor posuere ac ut. Et malesuada fames ac turpis egestas sed tempus urna. Pellentesque 
            elit eget gravida cum sociis natoque penatibus et magnis. Purus gravida quis blandit turpis cursus in hac 
            habitasse platea. In est ante in nibh mauris cursus mattis. Venenatis tellus in metus vulputate eu scelerisque. 
            Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Nec feugiat in fermentum posuere urna. A erat 
            nam at lectus urna duis convallis convallis. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. 
            Magna etiam tempor orci eu lobortis. Mattis aliquam faucibus purus in massa tempor nec feugiat. Pellentesque 
            habitant morbi tristique senectus et netus et malesuada fames.
        </p>
        
        <p>
            Metus dictum at tempor commodo ullamcorper. Eget arcu dictum varius duis at consectetur. Suspendisse potenti 
            nullam ac tortor vitae. Adipiscing elit ut aliquam purus sit amet luctus. Ultricies mi quis hendrerit dolor magna 
            eget est lorem. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Bibendum at varius vel pharetra 
            vel turpis nunc eget lorem. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Ultrices in iaculis 
            nunc sed augue lacus viverra vitae congue. Bibendum neque egestas congue quisque. Congue nisi vitae suscipit tellus
            mauris a. Vulputate odio ut enim blandit volutpat maecenas volutpat. Viverra vitae congue eu consequat ac felis donec. 
            Sed velit dignissim sodales ut eu sem integer. Elementum integer enim neque volutpat ac tincidunt vitae semper quis.
            Faucibus ornare suspendisse sed nisi. Luctus accumsan tortor posuere ac ut. Id donec ultrices tincidunt arcu non 
            sodales neque.
        </p>
    </div>

</div>

