.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #d6c4b5;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.content {
  background-color: #EEE1D7;
}

footer {
  display: flex;
  justify-content: space-around;

  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  
  padding: 1.5%;
  background-color: #C1AFA1;
  color: white;
}
