<Div class="panelWrapper">
    <div>
        <img class="panelImg2" src="\assets\School Supplies-logos_black.2.png" alt="logo" height="200" width="900">
        <p>Every kid needs school supplies to have a fun and successful education!</p>
    </div>
</Div>

<div class="mainCarouselWrap">
    <ngb-carousel class="carouselWrapper">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="carouselImg" [src]="productList[0].imageURL" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>{{productList[0].itemName}}</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="carouselImg" [src]="productList[1].imageURL" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3>{{productList[1].itemName}}</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="carouselImg" [src]="productList[2].imageURL" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>{{productList[2].itemName}}</h3>
            </div>
        </ng-template>
    </ngb-carousel>
</div>


