.panelWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #C1AFA1;
    height: 50%;
}

.mainCarouselWrap {
    padding: 5%;
}

.carouselWrapper {
    margin: auto;
    width: 75%;
    border: 2px solid #C1AFA1;
}

.carouselImg {
    height: 700px;
    width: 100%;
}

.carousel-caption {
    color: rgb(255, 255, 255);
}