<form class="matForm" (ngSubmit)="onSubmit()">
    <h1><b>Create New Product</b></h1>

    <mat-form-field>
        <mat-label for="name">Name</mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="currentProduct.itemName">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="quantity">Quantity</mat-label>
        <input matInput type="text" id="quantity" name="quantity" [(ngModel)]="currentProduct.quantity">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="price">Price</mat-label>
        <input matInput type="text" id="price" name="price" [(ngModel)]="currentProduct.price">
    </mat-form-field>

    <mat-form-field>
        <mat-label for="description">Description</mat-label>
        <textarea matInput type="text" id="description" name="description" [(ngModel)]="currentProduct.description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="imgURL">ImageURL</mat-label>
        <input matInput type="text" id="imgURL" name="imgURL" [(ngModel)]="currentProduct.imageURL">
    </mat-form-field>

    <div class="btns">
        <button mat-stroked-button routerLink="/products">Back</button>
        <button mat-stroked-button type="submit">Submit!</button>
    </div>
</form>